    <configuration>
        <appSettings>
            <add key="email" value="sathyassb@gmail.com" />
            <add key="MERCHANT_KEY" value="34ZOK8AD" />
            <add key="SALT" value="DKcjaYIlzj" />
            <add key="PAYU_BASE_URL" value="https://secure.payu.in" />
            <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
            <add key="Success_URL" value="http://veenavadini.com/Payment/Response.aspx" />
            <add key="Failure_URL" value="http://veenavadini.com/Failure.aspx" />
        </appSettings>
        <connectionStrings>
            <add name="ConnStringDb"
                connectionString="Server=SQL5104.site4now.net;Database=db_a6818b_icmsdb;User Id=db_a6818b_icmsdb_admin;Password=jdu#4d5EDdEEs;Trusted_Connection=False;Max Pool Size=1024;Pooling=true;" providerName="System.Data.SqlClient" />
        </connectionStrings>
        <system.web>
            <customErrors mode="Off" />
            <sessionState timeout="400" mode="InProc" />
            <compilation debug="true" targetFramework="4.5" />
            <httpRuntime targetFramework="4.5" />
            <pages clientIDMode="Static" validateRequest="false" enableEventValidation="false" />
            <authentication mode="Forms">
                <forms loginUrl="~/index.aspx" defaultUrl="~/index.aspx" />
            </authentication>
        </system.web>
    </configuration>