    <configuration>
        
        <connectionStrings>
            <add name="ConnStringDb"
                connectionString="Server=SQL5104.site4now.net;Database=db_a6818b_icmsdb;User Id=db_a6818b_icmsdb_admin;Password=jdu#4d5EDdEEs;Trusted_Connection=False;Max Pool Size=1024;Pooling=true;" providerName="System.Data.SqlClient" />
        </connectionStrings>
        <system.web>
            <customErrors mode="Off" />
            <sessionState timeout="400" mode="InProc" />
            <compilation debug="true" targetFramework="4.5" />
            <httpRuntime targetFramework="4.5" />
            <pages clientIDMode="Static" validateRequest="false" enableEventValidation="false" />
            <authentication mode="Forms">
                <forms loginUrl="~/index.aspx" defaultUrl="~/index.aspx" />
            </authentication>
        </system.web>
		<appSettings>
			<add key ="path" value="http://admin.shivamoggasmartcity.co.in/contents/"/>
		</appSettings>
    </configuration>